@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');
h1 {
	font-family: 'Courgette', cursive;
	font-weight: bold;
	letter-spacing: 3pt;

}
h2 {
	margin-left: 25%;
	color: #990000;
	font-family: 'Courgette', cursive;
	font-weight: bold;
}
header {
	height: 100px;
	width: auto;
	padding-top: 5%;
	padding-bottom: 5%;

}
img.boximg {
	width: 356px;
	height: auto;
	border-radius: 15px 15px 0px 0px;
}
img.icon {
	width: 20px;
	height: auto;
}
hr {
	 border-top: 3px solid red;
	width: 80%;
}
.header {
	size: 2px;
}
.wrapper {
	text-align: center;
	margin-left: 7.5%;
	margin-right: 5%;
	background-color: #f5f5f5;
}
.box {
  width: 356px;
  height: 450px;
  background-color: white;
  float: left;
  margin: 1%;
  border-radius: 15px;

}
.boxhead {
	font-family: 'Courgette', cursive;
	font-weight: bold;
	padding-top: 5%;
	padding-bottom: 5%;
}
.boxmid {
	font-family: 'Courgette', cursive;


}
.boxbottom {
      padding-top: 10%;
  float: bottom;
  position: static;
  	font-family: 'Courgette', cursive;

}
